
server:
  port: 8189
  servlet:
    context-path: /app
spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:appdb;MODE=PostgreSQL
    username: sa
    password:
  h2:
    console:
      enabled: true
logging:
  level:
    org.springframework.jdbc.core.JdbcTemplate: TRACE